.table__top-data {
  border: 1px solid #ccc;
}

.dataTables_paginate {
  border: 1px solid #ccc !important;
}

.paginate_button.previous {
  border: 1px solid #ccc;
  background-color: aqua;
}

.table__top {
  padding: 20px 20px;
}

.table-hover {
  margin-top: 0px !important;
}
