
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table__top-data mt-3 table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Rendering engine</th>
      <th>Browser</th>
      <th>Platform(s)</th>
      <th>Engine version</th>
      <th>CSS grade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listItem">
      <td>{{ item.rendering }}</td>
      <td>{{ item.browser }}</td>
      <td>{{ item.platform }}</td>
      <td>{{ item.version }}</td>
      <td>{{ item.grade }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Rendering engine</th>
      <th>Browser</th>
      <th>Platform(s)</th>
      <th>Engine version</th>
      <th>CSS grade</th>
    </tr>
  </tfoot>
</table>
